################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj
/.ntvs_analysis.dat.tmp
/.ntvs_analysis.dat
