<div class="index-page-wrapper">
    <div class="index-content-wrapper">
        <div class="index-home-logo">
            <a class="index-logo-title" href="/about"><img class="index-webpage-logo-img" src="/images/VeCrawlLogo.jpg" alt="{{> page/title}} Logo" title="About {{> page/title}}" /></a>
        </div>
        <div class="index-outer-search-box">
            <div id="index-search-field" class="index-inner-search-box">
                <div class="index-search-wrap">
                    {{> page/searchfield}}
                </div>
                <div class="index-info-tag">&copy; {{copyright}}</div>
                <div class="index-quick-links"></div>
            </div>
        </div>
        <div class="start-bottom">
            <div class="start-icons">
                <a href="/about"><div class="start-icons start-about"></div>about</a>
                <a href="/contact"><div class="start-icons start-contact"></div>contact</a>
                <a href="/support"><div class="start-icons start-support"></div>support</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>