<form action="/" class="navbar-form" id="vecrawl-form-search" role="menu" accept-charset="UTF-8">
    <div class="form-group search-form-group">
        <div class="has-feedback">
            <input id="vecrawl-input-search" class="form-control" type="text" spellcheck="false" autocomplete="off" name="search" placeholder="Type a search request or an URL">
            <div id="clear-search-text-btn" class="form-control-feedback own-hover-glyphicon clear-search-text hidden">X</div>
            <span class="form-control-feedback separator"></span>
            <i id="search-result-btn" class="glyphicon glyphicon-search form-control-feedback own-hover-glyphicon"></i>
            <div id="search-ac-view-container" class="search-autocomplete hidden">
                <div id="acp-content-wrap" class="acp-wrap"></div>
            </div>
        </div>
        <input type="hidden" id="filterType" name="filterType" value="filter-web">
    </div>
</form>